.label{
    -fx-alignment: center;
    -fx-text-fill: white;
}

#gridContent {
    -fx-font-size: 21px;
    -fx-font-weight: bold;
}

#hRow {
    -fx-alignment: center;
}

#colTitle{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 16px;
    -fx-font-size: 21px;
}

.button:hover {
    -fx-background-color: #3e8e41;
}


.root {
    -fx-background-image: url("BG.jpeg");
}
